<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Monoton|Quantico:700');
=======
h1{
    color: linear-gradient(white, #6d37a5);;
    text-align: center;
    margin-top: 8%;
    font-family: lato;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 65px;
    text-transform: uppercase;
}
>>>>>>> Stashed changes

#title {

    color: #3d0e6f;
    font-size: 70px;
    text-align: center;
    -webkit-text-stroke: 1px #3d0e6f;
    -webkit-background-clip: text;
    padding: 0;

}

#link {
  color: white;
  text-align: center;
}

html,
body,

#p {
width: 100vw;
min-height: 100vh;
background-image: linear-gradient(white, #6d37a5);
}
#text {
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: monospace;

}
 h1 {
   font-family: 'monospace';
   color: purple

 }
 h3 {
  color: black;
  font-size: 200%;
  font-family: 'Exo';
  margin-left: 25px;
}
