h1 {
    color: #3d0e6f;
    font-size: 200%
}

h2 {
    font-family: "Helvetica";
    text-indent: 50px;
    margin-left: 10px;
    color: #3d0e6f;
    font-size: 250%
}

h3 {
    font-family: "Helvetica";
    text-indent: 50px;
    margin-left: 10px;
    color: #3d0e6f;
    font-size: 250%
}

h4 {
    font-family: "Helvetica";
    text-indent: 50px;
    margin-left: 10px;
    color: #3d0e6f;
    font-size: 250%
}

h5 {
    font-family: "Helvetica";
    text-indent: 50px;
    margin-left: 10px;
    color: #3d0e6f;
    font-size: 250%
}

p {
    font-family: "times new roman";
    text-indent: 50px;
    margin-left: 10px;
    color: #3d0e6f;
    width: 80vw;
}

html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: #b288dd;
}

#content {
    background-color: #cccccc;
    width: 1200px;
    min-height: 300px;
    padding: 10px;
    margin: 15px;
    border: solid 3px #444444;
    font-size: 25px;
}

#my-portrait {
    width: 300px;
}
